@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.glassmorphism-sm {
  backdrop-filter: blur(10px);
  border: 3px solid rgba(255, 255, 255, 0.125);
  backdrop-filter: blur(20px);
}
.glassmorphism-xl {
  backdrop-filter: blur(10px);
  border: 3px solid rgba(255, 255, 255, 0.125);
  backdrop-filter: blur(20px);
}
body {
  background: #00B4DB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  
}